main {
    margin: 0 auto 20px;
}

.link {
    background-color: #ffffff; /* Light background color */
    color: #34495e; /* Dark text color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;
    text-decoration: none;
}

.link:hover {
    background-color: #34495e; /* Dark background color */
    color: #ffffff; /* Light text color */
    cursor: pointer;
}

.link h3 {
    margin-top: 0;
    color: #2c3e50; /* Initial color for h3 */
    transition: color 0.1s ease;
}

.link:hover h3 {
    color: #ffffff; /* Light text color on hover */
}
